body{
	background-color: black ;
}

.up{
	margin: auto;
    width: 70%;
	height:155px;
}

.head{
	width: 100%;
	height: 90px;
	/*position: fixed;*/

}
.head1
{
	width: 80%;
	height: 90px;
}
.head2{
	float: right;

}
.fb{
	background-image: url("../images/social-media/facebook_0.png");
	width: 32px;
	height: 32px;
	display: inline-block;
}
.fb:hover{
	background-image: url("../images/social-media/facebook_1.png");
}
.twitter{
	background-image: url("../images/social-media/twitter_0.png");
	width: 32px;
	height: 32px;
	display: inline-block;
}
.twitter:hover{
	background-image: url("../images/social-media/twitter_1.png");
}
.linkedin{
	background-image: url("../images/social-media/in_0.png");
	width: 32px;
	height: 32px;
	display: inline-block;
}
.linkedin:hover{
	background-image: url("../images/social-media/in_1.png");
}
.rss{
	background-image: url("../images/social-media/rss_0.png");
	width: 32px;
	height: 32px;
	display: inline-block;
}
.rss:hover{
	background-image: url("../images/social-media/rss_1.png");
}
.googleplus{
	background-image: url("../images/social-media/google-plus_0.png");
	width: 32px;
	height: 32px;
	display: inline-block;	
}
.googleplus:hover{
	background-image: url("../images/social-media/google-plus_1.png");
}

.nav{
	background-color: black;
	width:100%;
	height: 60px;
	color: white;
}
.nav li{
	display: inline-block;
	width: 100px;
	padding: 10px;
	color: rgba(205,194,194,1.00);
}
a{
	text-decoration:none;
	color: rgba(205,194,194,1.00);
}
.nav li:hover{
	background-color: rgba(57,56,155,1.00);
}

hr{
	width: 100%;
	border: 1px solid grey;
}

img{
	width: 100%	;
	height: 100%;
}
h2{
	color: rgba(57,56,155,1.00);
}

.contanier
{
	background-color:rgba(210,210,210,1.00);
	width: 70%;
	margin: auto;
	padding: 5px;

}
.down{
	display: flex;

}
.leftp{
	width: 70%;
	padding: 15px;
	
}
.rightp{
	width: 25%;
	padding: 15px 5px 5px 5px;

}
.imgs{
	display: flex;
}
.img1{
	width: 40%;
	border: 1px solid white;
	padding: 5px;
	margin: 5px;
}
.newimgs{
	width: 70%;
	margin: auto;
}
